<header>
    <nav class="navbar navbar-expand-lg bg-transparent bg-black" id="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <figure>
                    <img src="./img/logo-vass-blanco.png">
                </figure>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#fff" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <div class="justify-content-end">
                    <ul class="navbar-nav bg-transparent me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Casos de éxito</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                AAPP
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">BANCA</a></li>
                                <li><a class="dropdown-item" href="#">EU&E</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">INDUSTRIA</a>
                                   
                                </li>
                                <li><a class="dropdown-item" href="#">SEGUROS</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">  TELCO & MEDIA</a>
                                </li>
                            </ul>
                    
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="paises" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Países
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="paises">
                                <li><a class="dropdown-item" href="#">Item 1</a></li>
                                <li><a class="dropdown-item" href="#">Item 2</a></li>
                            </ul>
                    
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="paises" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Somos VASS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="paises">
                                <li><a class="dropdown-item" href="#">Item 1</a></li>
                                <li><a class="dropdown-item" href="#">Item 2</a></li>
                            </ul>
                    
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="paises" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Cómo lo hacemos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="paises">
                                <li><a class="dropdown-item" href="#">Item 1</a></li>
                                <li><a class="dropdown-item" href="#">Item 2</a></li>
                            </ul>
                    
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Insights</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Noticias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">VASS Research</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">En</a>
                        </li>
                        <li class="nav-item">
                            <form class="d-flex">
                                 <button class="btn" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                      </svg>
                                 </button>
                             </form>
                        </li>
                        <li class="nav-item px-5 item-talento">
                            <a class="nav-link active" aria-current="page" href="#">Talento</a>
                        </li>
                    </ul>
                </div>
    
               
            </div>
        </div>
    </nav>

</header>


