/* custom form control */

.form{
    &-dark{
        .form-control{
            border: 0;
            border-bottom: 1px solid #fff;
            border-radius: 0;
            color: #fff;

            &:not(:placeholder-shown){
                color: #fff;
            }
        }

        label {
            color: #fff;
        }

        textarea.form-control{
            background-color: transparent;
            border-radius: .875rem;
            border: 1px solid #fff;
            min-height: calc(4.5em + 0.75rem + 2px);
            color: #fff;
        }

    }
}