.section{
  &.header{
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position:  bottom center;
    background-size: cover;
  }
}

.btn-custom{
  &__circle{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    cursor: pointer;
  }
}