/*------------------*
# Nav
*------------------*/

header {
    opacity: 1;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    padding-bottom: 20px;
    top: 0;
}

.menu-bg {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.nav-item {
    padding-right: 0.775rem;
    padding-left: 0.775rem;

    display: flex;
    justify-content: center;
    align-items: center;

    a {
        line-height: .85;
        color: #fff;
    }

    position: relative;

    &.item-talento {

        &::after {
            content: "";
            position: absolute;
            left: 1.5rem;
            top: 0;
            height: 100vh;
            width: 1px;
            display: block;
            background-color: #fff;
        }

    }
}

.navbar.bg-black{
    background-color: #000 !important;
}

@media screen and (max-width: 1024px) {
    .nav-item {
        justify-content: start;

        a {
            font-size: 1.7rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-family: HkGuiseBold;
            text-align: start;
        }
    }

    .navbar.bg-transparent {
        background-color: #000 !important;
    }

    .navbar-collapse{
        padding: 1.5rem 0;
    }

    .nav-item.item-talento::after{
        display: none;
    }

    .dropdown-menu.show{
        background-color: #000;
        display: flex;
        width: 100%;
        a {
            font-size: 1.2rem;
            margin-left: 1rem;
        }
    }
}